@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

th {
}

input {
  background: #999ca0;
  padding-left: 10px;
  width: 100%;
  border-radius: 7px;
  height: 30px;
}

input::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

label {
  color: white;
}
a {
  color: #346bd4;
}
